.row {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 250px));
    grid-template-rows: 100px;
    grid-gap: 4px;
    margin-bottom: 4px;
}

.slot {
    padding: 8px;
}

.box {
    border: 1px solid darkolivegreen;
    cursor: pointer;
}

.box.active {
    background-color: green;
}
